/* Navbar */
.navbar{
    position: relative;
    z-index: 1;
    
}
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
    margin-right: 15px;
    
}


/* Jumbotron */
.jumbotron {
    background-image: url(img/014116000_1584682746-thought-catalog-505eectW54k-unsplash.jpg);
    background-size: cover;
    height: 540px;
    text-align: lef;
    position: relative;
    
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .form-group {
    color: white;  
    margin-top: 15px;
    font-weight: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 25px;
    margin-bottom: 30px;

}

/* DESKTOP VERSION */
@media (min-width: 992px) {

    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;

    }
    
    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 5px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        
    }


    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }
}

